<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.samyo.mapper.AnswerMapper">

	<insert id="insertAnswer">
		insert into ANSWER 
			(answer_num ,answer_year ,answer_date,answer ,public_answer ,question_num ,member_num ,answer_delete ,delete_date) 
		values 
			(#{answer_num} ,#{answer_year},#{answer_date},#{answer},#{public_answer},#{question_num},#{member_num},#{answer_delete},#{delete_date}); 
	
	</insert>
	
	<select id="selectAnswer" parameterType="hashmap" resultType="com.samyo.domain.AnswerVO" >
		select 
			*
		from 
			ANSWER 
		where 
			question_num= #{question_num}
		and
			member_num= #{member_num}
		
	</select>
	
	<select id="updateAnswerPage" parameterType="int" resultType="com.samyo.domain.AnswerVO" >
		select 
			answer_num, answer, public_answer
		from 
			ANSWER 
		where 
			answer_num= #{question_num}
		
		
	</select>
	
	<update id="updateAnswer" >
		UPDATE
			ANSWER 
		SET 
			answer = #{answer}, public_answer= #{public_answer}
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>
	<update id="updateDelete" >
		UPDATE
			ANSWER 
		SET 
			answer_delete = #{answer_delete}, delete_date= #{delete_date}
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>
	<update id="publicAnswer" >
		UPDATE
			ANSWER 
		SET 
			public_answer= #{public_answer}
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>
	<update id="TrashPublic" >
		UPDATE
			ANSWER 
		SET 
			answer_delete= "N", delete_date= null
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>

</mapper>